.open-sans-font {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
body{
        height: 100vh;
}
main section{
        margin-top: 130px;
        margin-bottom: 130px;
}


/* shared styles */
.text-primary{
        color: #FD6E0A;
}
.btn-primary{
        background-color:#FD6E0A;
        color: white;
        font-size: 20px;
        font-weight: bold;
        border: none;
        border-radius: 5px;
        padding: 20px 40px;
}
.dark-2{
        color: #474747;
}
.dark-3{
        color: #757575;
}
.secondary-bg{
        background-color: #FFF8F3;
}
.section-title{
        color: #181818;
        font-size: 35px;
        font-weight: bold;
}
.section-description{
        color: #757575;
        font-size: 18px;
        font-weight: 400;
}
.common-st{
        color:#757575 ;
        font-size: 20px;
        font-weight: 400;
}
.text-bold{
        color: #474747;
        font-size: 20px;
        font-weight: bold;
}

/* header styles */
.banner-head{
          background-image: url('../images/developer.png'), url('../images/header_bg.png');
        background-repeat: no-repeat;
        background-position: top left,bottom right;
        /* margin-top:10px ; */
        
}

/* nav style  */
nav{
        display: flex;
        justify-content: space-between;
        margin: 0 200px;
        
}
nav ul li{
        list-style: none;
        margin-right: 50px;
}
nav li a{
        text-decoration: none;
        font-size: 20px;
        font-weight: 400;
        color: #474747;
}
nav ul {

        display: flex;
        align-items: center;
}
.nav-title{
        font-size: 45px;
        font-weight: 800;
}

/*banner styles  */
.banner{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 100px;
         
}
.banner-content{
        width: 500px;
        margin: 30px 200px;
       
}
.banner-greetings{
        font-weight: 600;
        font-size: 45px;
}
.banner-title{
        font-weight: bold;
        font-size: 85px;
}
.banner-btn{
        margin-right: 30px;
}
.white-btn{
        background-color: white;
        border: 1px solid #FD6E0A;
        color: #FD6E0A;
}
.banner-description{
        font-size: 18px;
        font-size: 400;
}



.banner-img img{
        width: 500px;
        margin-right: 50px;
        
}
/* about styles */
main{
         max-width: 1140px;
        margin: 0 auto;

}
.about{
       
        text-align: center;
        border-radius: 10px;
        padding: 50px;
}
.about-items{
        display: flex;
        justify-content: space-around;
}

/* skills styles */
.skill-container{
        text-align: center;
}
.skills{
        display: flex;
        margin-top: 50px;
        text-align: left;
        gap: 24px;
}
.skill-item{
        background-color:#FFFFFF;
        padding: 30px;
        box-shadow: 0 6px 50px 0 #000000;
        border-radius: 5px;
}